/Lab1/nbproject/private/
/WebServices_lab1/nbproject/private/
/WebServices_lab1/build/
/WebServices_lab1/dist/
/WebServices_Lab2/nbproject/private/
/WebServices_Lab2/build/
/WebServices_Lab2/dist/
/WebServices_Lab3/nbproject/private/
/WebServices_Lab3/build/
/WebServices_Lab4/nbproject/private/
/WebServices_Lab4/build/
/WebServices_Lab4/target/
/WebServices_Lab5/target/
/WebServices_Lab6/target/
/WebServices_Lab7/target/